﻿<!-- Contact.razor -->
@page "/about"

<h2>About Developer</h2>
<br />
<h4>Hi, this is Akshay</h4>
<img src="images/1712311013743.jpg" style="height:300px; width:300px; margin-left:200px;" alt="developer image" />
<br />
<br />
<p>Iam a .NET Full Stack Developer currently holding the skills such as C#,WinForms,.NET Core Web API, ASP.NET Core, Blazor.</p>
<p>Currently interested in deep-dive of ASP.NET Full Stack.</p>